@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  background-color: rgb(0, 1, 12);
  color: white;
}

h1 {
  font-size: 3.9em;
  padding: 0;
  margin: 3px;
  margin-left: 10px;
}

h2 {
  text-align: center;
  font-size: 1.8em;
  padding: 0;
  margin: 3px;
  margin-left: 10px;
}

h2.large {
  font-size: 2.4em;
}

h3 {
  size: 2em;
  padding: 0;
  margin: 3px;
  margin-left: 10px;
}

.grey {
  opacity: 0.5;
}

.minimal {
  color: rgba(255, 255, 255, 0.3);
}

.minimalish {
  color: rgba(255, 255, 255, 0.9);
}

.bold {
  color: white;
  font-weight: 600;
}

.about-text {
  padding: 20px 100px 20px 100px;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
}
.about-text .bold, .about-text b {
  color: white;
  font-weight: 600;
}

.link {
  color: white;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}

.link-orange {
  color: rgb(255, 220, 155);
  text-decoration: none;
}
.link-orange:hover {
  text-decoration: underline rgb(255, 220, 155);
}

.arrow {
  color: white;
  transition: 0.5s;
  font-size: 1.5em;
  transform: translate(0%, 30%);
}
.arrow svg {
  color: white;
  transition: 0.5s;
  font-size: 1.2em;
  transform: translate(0%, 30%);
}
.arrow:hover svg {
  transition: 0.5s;
  transform: translate(50%, 30%);
}
.arrow:hover {
  transition: 0.5s;
  transform: translate(50%, 30%);
}

.arrow-big {
  color: white;
  transition: 0.5s;
  font-size: 1.7em;
  transform: translate(0%, 30%);
}
.arrow-big svg {
  color: white;
  transition: 0.5s;
  font-size: 1.7em;
  transform: translate(0%, 30%);
}
.arrow-big:hover svg {
  transition: 0.5s;
  transform: translate(50%, 30%);
}
.arrow-big:hover {
  transition: 0.5s;
  transform: translate(50%, 30%);
}

input {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.5px 8px;
  border-radius: 16px;
  border: none;
}
input::placeholder, input[placeholder] {
  color: rgba(255, 255, 255, 0.5);
}

.button {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px 8px;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.8);
  margin: 5px;
  text-align: center;
  text-decoration: none;
  border: none;
  transition: 0.5s;
  cursor: pointer;
}
.button:hover {
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.2);
}

.button-rounded {
  background: none;
  padding: 10px 15px;
  border-radius: 40px;
  color: rgb(255, 255, 255);
  margin: 5px;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  border: 1px solid white;
  transition: 0.5s;
  cursor: pointer;
}
.button-rounded:hover {
  transition: 0.5s;
  box-shadow: 3px 3px 15px rgba(128, 128, 128, 0.5), -3px -3px 15px rgba(128, 128, 128, 0.5);
}

.center {
  text-align: center;
}

.center-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.widget {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
}

.card {
  padding: 30px 10px;
  border-radius: 14px;
  border: 3px rgb(43, 43, 43) solid;
  text-align: left;
}
.card * {
  text-align: left;
}
.card h2 {
  text-align: left;
  margin: 0;
  padding: 0 15px 5px 15px;
}
.card p {
  padding: 0 15px;
}
.card .arrow {
  margin-left: 15px;
}

.card-yellow {
  background-image: linear-gradient(45deg, rgb(183, 67, 0), rgb(188, 135, 0));
}

.width-100 {
  width: 100%;
}

.badge {
  margin: 5px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 1em;
  padding: 5px 10px 5px 10px;
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
}

.badge-red {
  color: rgb(255, 136, 136);
  background-color: rgba(255, 67, 67, 0.15);
}

.badge-blue {
  color: rgb(136, 162, 255);
  background-color: rgba(136, 162, 255, 0.15);
}

.gradient-purple {
  color: transparent;
  background-image: linear-gradient(-45deg, rgb(220, 81, 255), rgb(212, 120, 255));
  background-clip: text;
  font-weight: 600;
}

.gradient-lime {
  color: transparent;
  background-image: linear-gradient(-45deg, rgb(116, 255, 81), rgb(176, 255, 120));
  background-clip: text;
  font-weight: 600;
}

.gradient-blue {
  color: transparent;
  background-image: linear-gradient(-45deg, rgb(112, 46, 255), rgb(151, 102, 255));
  background-clip: text;
  font-weight: 600;
}

section {
  padding: 20px 70px 20px 70px;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid-60-40 {
  display: grid;
  grid-template-columns: 60% 40%;
}

.grid-25-25 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.grid-33 {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.tabs ul {
  padding: 0;
  margin: 0;
  padding: 5px 5px 0 5px;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.tabs ul li {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.3);
  padding: 10px 3vw 5px 3vw;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0);
}
.tabs ul li:hover {
  color: rgba(208, 208, 208, 0.7);
  border-bottom: 1px solid rgba(208, 208, 208, 0.7);
}
.tabs ul li.active {
  color: rgb(208, 208, 208);
  border-bottom: 1px solid rgb(208, 208, 208);
}

nav {
  padding: 0px;
  margin: 0;
  padding: 10px 0 10px 0;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li a {
  margin: 50px 10px 50px 10px;
  font-weight: 600;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2em;
  transition: 0.3s;
}
nav ul li a:hover {
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.9);
}

.Home header.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgb(0, 1, 12)), url("./images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}
.Home header.header div.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 75vh;
  padding: 30px 10px;
}
.Home header.header div.content h1 {
  font-size: 3.9em;
  padding: 0;
  margin: 3px;
  margin-left: 10px;
}
.Home header.header div.content h3 {
  opacity: 0.5;
  font-size: 2em;
  padding: 0;
  margin: 3px;
  margin-left: 10px;
}
.Home header.header svg {
  font-size: 2em;
}
.Home section h2 {
  padding: 20px 10px 6px 10px;
  margin: 0;
}
.Home section#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px 40px 20px;
  background-image: linear-gradient(rgb(0, 1, 12), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgb(0, 1, 12)), url("./images/mesh.png");
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position-x: 50%;
}
.Home section#about ul.languages {
  padding: 0px 20px 50px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.Home section#about ul.languages li a {
  text-decoration: none;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.2);
  margin: 10px;
  font-size: 1.1em;
  padding: 7px;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 10px;
}
.Home section#about ul.languages li a:hover {
  transition: 0.2s;
  background-color: rgba(255, 255, 255, 0.1);
}
.Home section#about h2 {
  padding: 20px 10px 20px 10px;
}
.Home section#about div.grid {
  padding: 30px 15vw 30px 15vw;
}
.Home section#about div.grid > div {
  min-height: 200px;
  padding: 10px 40px 10px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Home section#about div.grid > div:nth-child(odd) {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.Home section#projects {
  padding: 50px 70px 50px 70px;
  background-image: linear-gradient(rgb(0, 1, 12), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2), rgb(0, 1, 12)), url("./images/mesh3.png");
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}
.Home section#projects .design-projects, .Home section#projects .coding-projects {
  min-height: 50vh;
  margin: 20px 10px 20px 10px;
}
.Home section#projects .design-projects .stats, .Home section#projects .coding-projects .stats {
  padding: 10px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
}
.Home section#projects .design-projects .stats .item, .Home section#projects .coding-projects .stats .item {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.4);
}
.Home section#projects .design-projects .stats .item h3, .Home section#projects .coding-projects .stats .item h3 {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  font-weight: 800;
  word-wrap: normal;
  word-break: keep-all;
}
.Home section#projects .design-projects .stats .item .data, .Home section#projects .coding-projects .stats .item .data {
  font-size: 2.8em;
  font-weight: 800;
  margin: 10px 0px 10px 0px;
}
.Home section#projects .project {
  margin: 0 20px 20px 20px;
  padding: 0 20px 30px 20px;
  min-height: 120px;
}
.Home section#projects .project div.badges {
  display: flex;
  padding-top: -10px;
}
.Home section#projects .project div.badges .badge {
  transform: translate(0%, 70%);
}
.Home section#projects .project h3 {
  font-size: 2.1em;
  font-weight: 700;
}
.Home section#projects .project div.grid {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Home section#projects .project div.grid > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Home section#projects .project div.grid div.main {
  padding: 50px 10px 50px 10px;
  border-right: 1px solid;
  min-width: 50%;
}
.Home section#projects .project div.grid div.info {
  padding: 20px 120px 20px 120px;
}
.Home section#projects .project div.grid div.info p {
  font-weight: 600;
}
.Home section#contact {
  padding: 20px 70px 20px 70px;
  background-image: linear-gradient(rgb(0, 1, 12), rgba(0, 65, 186, 0.05), rgba(0, 65, 186, 0.05), rgb(0, 1, 12));
}
.Home section#contact ul.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.Home section#contact ul.socials li a {
  margin: 10px;
}
.Home section#contact ul.socials li a svg {
  transform: translate(0%, 17%);
}
.Home section#contact .contact-discord {
  background-image: linear-gradient(rgba(190, 190, 190, 0.08), rgba(190, 190, 190, 0.08)), linear-gradient(90deg, rgba(221, 0, 255, 0) 30%, rgba(210, 46, 255, 0.8));
  background-position-x: 0%, 100%;
  background-repeat: no-repeat;
  background-size: cover, cover;
  border-radius: 20px;
  padding: 50px 20px 50px 20px;
  margin: 30px 20px 30px 20px;
}
.Home section#contact .contact-discord .content {
  max-width: 800px;
}
.Home section#contact .contact-discord .content h3 {
  margin: 0;
  padding: 0;
  font-size: 2.7em;
}
.Home section#contact .contact-discord .content p {
  font-size: 1.3em;
}
.Home section#contact .contact-linkedin {
  background-image: linear-gradient(rgba(190, 190, 190, 0.08), rgba(190, 190, 190, 0.08)), linear-gradient(90deg, rgba(221, 0, 255, 0) 30%, rgba(112, 46, 255, 0.8));
  background-position-x: 0%, 100%;
  background-repeat: no-repeat;
  background-size: cover, cover;
  border-radius: 20px;
  padding: 50px 20px 50px 20px;
  margin: 30px 20px 30px 20px;
}
.Home section#contact .contact-linkedin .content {
  max-width: 800px;
}
.Home section#contact .contact-linkedin .content h3 {
  margin: 0;
  padding: 0;
  font-size: 2.7em;
}
.Home section#contact .contact-linkedin .content p {
  font-size: 1.3em;
}
.Home footer.Footer {
  padding: 40px 100px 10px 100px;
  background-position-y: 100%, 100%;
  background-position-x: 0%, 0%;
  background-size: cover, 50%;
  background-repeat: repeat-x;
}
.Home footer.Footer .main {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 50px 20px 10px 20px;
}
.Home footer.Footer .main img.logo {
  width: 40px;
}
.Home footer.Footer .main .links {
  text-align: center;
}
.Home footer.Footer .main .links ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.Home footer.Footer .main .links ul li a {
  color: rgba(255, 255, 255, 0.7);
}
.Home footer.Footer .main .links h3 {
  color: rgba(255, 255, 255, 0.7);
  margin: 8px;
  padding: 7px;
}
.Home footer.Footer .main .item {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}
.Home footer.Footer .main .item p {
  margin: 0;
  padding: 20px 10px 20px 0;
}
.Home footer.Footer .main .item a {
  color: rgba(255, 255, 255, 0.7);
  transition: 0.5s;
}
.Home footer.Footer .main .item a svg {
  font-size: 2em;
  margin: 5px 20px 10px 0;
}
.Home footer.Footer .main .item a:hover {
  transform: scale(1.05);
  transform: -webkit-scale(1.05);
  transform: -moz-scale(1.05);
  transform: -ms-scale(1.05);
  color: white;
  transition: 0.5s;
}

.Blog {
  color: rgb(255, 255, 255);
  height: 100vh;
}
.Blog article {
  background-color: #0e0e0e;
  padding: 0px 0px 0px 0px;
}
.Blog article .arrow-big {
  margin-left: 15px;
}
.Blog article nav {
  background-position: 0% 0%;
  margin: 0;
  padding: 10px 6px;
  z-index: 4;
  background-color: rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  backdrop-filter: blur(8px);
}
.Blog article nav ul {
  padding: 5px 10px;
  display: flex;
  list-style: none;
}
.Blog article nav ul div {
  display: flex;
}
.Blog article nav ul div li {
  margin: 0;
  padding: 4px 6px;
}
.Blog article nav ul div li a {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
}
.Blog article nav ul div li a:hover {
  color: white;
  transition: 0.3s;
}
.Blog article nav ul div li a.bg {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  padding: 5px 7px;
  background-size: 200%;
  color: white;
  font-size: 1.1em;
  margin-right: 10px;
}
.Blog article nav ul div li a.bg:hover {
  background: rgba(255, 255, 255, 0.3);
}
.Blog article nav ul div.right {
  position: absolute;
  right: 10px;
}
.Blog article .top {
  padding: 130px 160px 70px 160px;
  background-image: url("./images/vector/blog-vectors.png");
}
.Blog article .top .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 40px 20px 20px 20px;
  border-radius: 15px;
  backdrop-filter: blur(16px);
}
.Blog article .top .content h1 {
  font-size: 2em;
}
.Blog article .top .content .thumb-wrapper .thumbnail {
  margin: 10px 6px 15px 6px;
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  object-fit: contain;
  max-width: 600px;
  width: 100%;
  min-width: 300px;
}
.Blog article .top .content .author, .Blog article .top .content .tags {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 900;
}
.Blog article .top .content .author span, .Blog article .top .content .tags span {
  margin: 3px;
}
.Blog article .top .content .tags {
  text-transform: lowercase;
}
.Blog article .main {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 50px;
  padding: 50px 150px 10px 150px;
}
.Blog article .main .side .arrow-big {
  margin-left: 15px;
}
.Blog article .main .side .contents {
  background-image: url("./images/vector/blog-vectors.png");
  background-repeat: no-repeat;
  background-size: 300%;
  background-position: 0% 60%;
}
.Blog article .main .side .contents ol {
  margin: 0;
  padding-left: 35px;
}
.Blog article .main .side .contents ol li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  text-transform: capitalize;
  font-size: 1.4em;
  transition: 0.5s;
}
.Blog article .main .side .contents ol li a:hover, .Blog article .main .side .contents ol li a:active {
  color: rgb(255, 255, 255);
  transition: 0.3s;
}
.Blog article .main .body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Blog article .main .body span {
  text-align: left;
  font-size: 1.2em;
  line-height: 210%;
  font-family: sans-serif;
  font-family: "Open Sans", sans-serif;
}
.Blog article .main .body span table {
  background-color: rgb(24, 24, 24);
  padding: 10px;
  border-radius: 7px;
  margin: 5px 0;
}
.Blog article .main .body span table td {
  padding: 0px 40px 0 0;
  margin: 0 10px;
}
.Blog article .main .body span table th {
  color: white;
  font-weight: 900;
}
.Blog article .main .body span section {
  margin: 0;
  padding: 0;
  padding-top: 50px;
}
.Blog article .main .body span * {
  color: white;
}
.Blog article .main .body span img {
  object-fit: contain;
  max-width: 700px;
  width: 70%;
  margin: 10px 0;
}
.Blog article .main .body span img.small {
  max-width: 500px;
  border-radius: 7px;
  width: 60%;
}
.Blog article .main .body span h3 {
  margin: 20px 4px 10px 0;
  font-size: 1.6em;
  font-weight: 800;
}
.Blog article .main .body span a {
  text-decoration: underline rgb(255, 93, 193);
}
.Blog article .main .body span a:hover {
  color: #ff5dc1;
}
.Blog article .main .body span br {
  margin: 0px 0;
  display: block;
}
.Blog article .main .body span iframe {
  display: block;
  margin: 15px 10px 10px 0;
  min-height: 300px;
  min-width: 50%;
  border: none;
  border-radius: 5px;
}
.Blog article .main .body span .grey {
  opacity: 0.3;
}
.Blog article .main .body span i {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.3);
}
.Blog article .main .body span ul {
  margin: 5px 0;
  padding-left: 20px;
}
.Blog article .main .body span code {
  background-color: rgba(245, 245, 245, 0.1);
  border-radius: 3px;
  font-family: monospace;
  padding: 2px 7px 2px 5px;
}
.Blog article .main .body span .terminal, .Blog article .main .body span .code-block, .Blog article .main .body span pre {
  padding: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 10px;
  color: white;
  margin: 10px 0 10px 0;
  font-family: monospace;
  font-size: 0.8em;
  line-height: 120%;
}
.Blog article .main .body span .terminal span, .Blog article .main .body span .code-block span, .Blog article .main .body span pre span {
  line-height: 120%;
  font-family: monospace;
  font-size: 1.2em;
}
.Blog article .main .body span .terminal::before {
  content: " > ";
  padding: 0 4px;
  color: rgba(255, 255, 255, 0.4);
}
.Blog article .main .body span .code-grey {
  color: #646464;
}
.Blog article .main .body span .code-red {
  color: #F0596E;
}
.Blog article .main .body span .code-yellow {
  color: #D19A69;
}
.Blog article .main .body span .code-green {
  color: #89CA7D;
}
.Blog article.blog-home .top .content {
  padding: 50px 20px 30px 20px;
}
.Blog article.blog-home .top .content p {
  max-width: 500px;
}
.Blog article.blog-home form#search {
  width: 100%;
}
.Blog article.blog-home form#search input {
  width: 70%;
  padding: 5px 6px;
  margin: 10px 0;
  height: 25px;
  border-radius: 10px;
}
.Blog article.blog-home form#search button {
  padding: 9px 11px;
}
.Blog article.blog-home section {
  padding: 60px 100px;
  text-align: center;
}
.Blog article.blog-home section h2 {
  text-align: center;
  margin: 0;
  padding: 20px 4px 20px 4px;
}
.Blog article.blog-home section h3 {
  margin: 0;
  padding: 4px;
  font-size: 1.3em;
}
.Blog article.blog-home section .blogs {
  margin: 0;
  padding: 0;
  width: 100%;
  gap: 0;
}

a.blog-card {
  border: none;
  margin: 20px 20px;
  height: 300px;
  transition: 0.3s;
  background-color: #1e1e1e;
  border-radius: 25px;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}
a.blog-card h3 {
  height: 100px;
}
a.blog-card .wrapper img {
  margin: 0px 0 5px 0;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 15px;
}
a.blog-card .tags {
  display: flex;
}
a.blog-card .tags span {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 3px 6px;
  border-radius: 6px;
  margin: 7px 4px;
}
a.blog-card:hover {
  transition: 0.3s;
  background-color: #272727;
}

footer.BlogFooter {
  padding: 50px;
  background-color: #161616;
}
footer.BlogFooter h2 {
  margin: 0;
  padding: 5px 0;
}
footer.BlogFooter .main .item ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer.BlogFooter .main .item ul li a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: 0.3s;
  text-align: center;
}
footer.BlogFooter .main .item ul li a:hover {
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.9);
}

@media screen and (max-width: 1100px) {
  section#projects .coding-projects .widget.project div.grid .info, section#projects .design-projects .widget.project div.grid .info {
    padding: 60px 15px 60px 35px;
  }
  .grid-25-25 {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
@media screen and (max-width: 950px) {
  section#about ul.languages.reveal, section#about ul.languages.reveal.active {
    display: block;
    text-align: center;
  }
  section#about ul.languages.reveal li a, section#about ul.languages.reveal.active li a {
    margin: 10px 20px;
    padding: 7px 20px;
  }
  section#projects {
    display: block;
    padding: 50px 20px;
  }
  section#projects .coding-projects, section#projects .design-projects {
    display: block;
  }
  section#projects .coding-projects div.stats, section#projects .design-projects div.stats {
    display: block;
    text-align: left;
  }
  section#projects .coding-projects div.stats .item, section#projects .design-projects div.stats .item {
    display: block;
  }
}
@media screen and (max-width: 850px) {
  .Blog > .wrapper > .wrapper {
    width: 80%;
    margin-top: 100px;
  }
  .Blog .body {
    padding: 10px 50px;
    width: 70%;
  }
  section#about {
    padding: 40px 5px 40px 5px;
  }
  section#about .center.about-text.reveal, section#about .center.about-text.reveal.active {
    padding: 20px 10px 20px 10px;
  }
  section#about .center.center-container.grid {
    padding: 30px 10px 30px 10px;
  }
  section#projects {
    display: block;
  }
  section#projects .coding-projects div.stats, section#projects .design-projects div.stats {
    text-align: left;
  }
  section#projects .coding-projects div.stats .item, section#projects .design-projects div.stats .item {
    display: block;
  }
  section#projects .coding-projects .widget.project, section#projects .design-projects .widget.project {
    display: block;
  }
  section#projects .coding-projects .widget.project div.grid, section#projects .design-projects .widget.project div.grid {
    display: block;
  }
  section#projects .coding-projects .widget.project div.grid .main, section#projects .design-projects .widget.project div.grid .main {
    border: none;
    padding: 80px 5px 70px 5px;
    border: none;
  }
  section#projects .coding-projects .widget.project div.grid .info, section#projects .design-projects .widget.project div.grid .info {
    display: none;
    padding: 60px 5px 60px 5px;
  }
  .Home section#projects .design-projects .stats, .Home section#projects .coding-projects .stats {
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 620px) {
  h1 {
    font-size: 3em;
  }
  header.header nav ul li a {
    font-size: 1.7em;
    opacity: 0.5;
    text-align: left;
  }
  header.header .content {
    display: block;
  }
  header.header .content h3.grey {
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  header.header .content h1 {
    margin: 10px;
    font-size: 1.5em;
  }
  section#about .center.center-container.grid {
    display: block;
    padding: 10px 15px;
    border: none;
  }
  section#about .center.center-container.grid .card.reveal {
    padding: 10px 10px 10px 10px;
    border: none;
  }
  section#projects {
    display: block;
    padding: 50px 20px;
  }
  section#projects .coding-projects .stats, section#projects .design-projects .stats {
    display: block;
    text-align: center;
  }
  section#projects .coding-projects .widget.project, section#projects .design-projects .widget.project {
    display: block;
  }
  section#projects .coding-projects .widget.project div.grid, section#projects .design-projects .widget.project div.grid {
    display: block;
  }
  section#projects .coding-projects .widget.project div.grid .main, section#projects .design-projects .widget.project div.grid .main {
    border: none;
    padding: 80px 5px 50px 5px;
    border: none;
  }
  section#projects .coding-projects .widget.project div.grid .info, section#projects .design-projects .widget.project div.grid .info {
    display: none;
    padding: 60px 5px 60px 5px;
  }
  section#contact {
    padding: 20px 20px 20px 20px;
  }
  section#contact .contact-discord {
    text-align: center;
    background-image: linear-gradient(rgba(190, 190, 190, 0.08), rgba(190, 190, 190, 0.08)), linear-gradient(45deg, rgba(221, 0, 255, 0) 5%, rgba(210, 46, 255, 0.2));
  }
  section#contact .contact-linkedin {
    text-align: center;
    background-image: linear-gradient(rgba(190, 190, 190, 0.08), rgba(190, 190, 190, 0.08)), linear-gradient(45deg, rgba(221, 0, 255, 0) 15%, rgba(112, 46, 255, 0.2));
  }
  footer.Footer {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 20px 10px 20px;
  }
  footer.Footer .main.grid {
    display: block;
  }
  footer.Footer .main.grid .item {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  footer.Footer .main.grid .item p {
    padding: 20px 10px;
  }
  footer.Footer .main.grid .item a svg {
    margin: 5px 10px;
    padding: 5px 5px 10px 5px;
  }
}
.reveal, .widget {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 0.25s all ease;
}

.reveal.active, .widget.active {
  transform: translateY(0);
  opacity: 1;
}